extends layout

block content
    h1= title
    #users
        - each user in users
          div.user
            div.created_at= user.created_at
            div.title= user.title
            div.name= user.name
                form( method="post", action="/user/:id/delete")
                    input(name="_id", type="hidden", value=user._id.toHexString())
                    input(id="delete", value="X", type="submit")
                form( method="get", action="/user/:id/edit")
                    input(name="_id", type="hidden", value=user._id.toHexString())
                    input(id="edit", value="Edit", type="submit")
        a(href="/user/new")!= "Add New user"